/* Ícones circulares */
.icon-circle {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   background-color: var(--surface-color);
   color: var(--primary-color);
}

/* Avatar */
.avatar-circle {
   width: var(--icon-size-lg);
   height: var(--icon-size-lg);
   background-color: var(--secondary-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.avatar-circle .initials {
   color: var(--light-surface);
   font-size: var(--font-size-small);
   font-weight: 500;
}

/* Ícones de navegação */
.nav-item .bi {
   font-size: 1rem;
}
