parameters:
    level: 1
    paths:
    - app
    - bootstrap
    - config
    - database
    - routes
    - public
    - resources
    - routes
    bootstrapFiles:
        - bootstrap/app.php
    scanDirectories:
        - app/Contracts/Interfaces
        - app/Enums
        - app/Support
        - app/Models
    excludePaths:
        - old-system-legado
        - node_modules
        - vendor
