.theme-dark {
   --bg-color: var(--dark-background);
   --surface-color: var(--dark-surface);
   --text-color: var(--dark-text);
   --primary-color: var(--dark-primary);
   --secondary-color: var(--dark-secondary);
   --form-bg: #1e293b;
   --form-text: #f8fafc;
   --form-input-bg: #2a374b;
   --form-border: #4b5563;
   --small-text: #cbd5e1;
   --bs-form-invalid-color: #f87171;
   --bs-form-invalid-border-color: #f87171;
}
