{# partials/components/alerts.twig #}
{% import 'macros/alerts.twig' as alerts %}

<div class="container {{ containerClass|default('mt-4') }}">
  {% set defaultTypes = { error: 'danger', success: 'success', message: 'info', warning: 'warning' } %}
  {% set flashTypes = types|default(defaultTypes) %}

  {% for type, style in flashTypes %}
  {% if flash(type) %}
  {{ alerts.alert(type, flash(type, style)) }}
  {% endif %}
  {% endfor %}
</div>
