{% extends "layout.twig" %}



{% block content %}
<div class="container mt-5 text-center">
	<h2>Redirecionando para o pagamento</h2>
	<p>Você será redirecionado para a página de pagamento do Mercado Pago em alguns segundos...</p>
	<div class="spinner-border text-primary mt-3" role="status">
		<span class="visually-hidden">Carregando...</span>
	</div>
	<p class="mt-3">Se não for redirecionado automaticamente,
		<a href="#" id="paymentLink">clique aqui</a>.
	</p>
</div>

<script>
	document.addEventListener( 'DOMContentLoaded', function () {
		var paymentUrl = "{{ payment_url|escape('js') }}";
		var paymentLink = document.getElementById( 'paymentLink' );

		paymentLink.href = paymentUrl;

		setTimeout( function () {
			window.location.href = paymentUrl;
		}, 3000 ); // Redireciona após 3 segundos
	} );
</script>
{% endblock %}
