{# Definir macro para alertas #}
{% macro alert(type, message) %}
{% set flashTypes = {
'error': 'danger',
'success': 'success',
'message': 'info',
'warning': 'warning'
} %}
<div class="alert alert-{{ flashTypes[type] }} alert-dismissible fade show text-center" role="alert">
	{{ message|raw }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}
