<div class="col-md-8">
  <div class="row g-3">
    {% include 'partials/settings/profile/personal_info.twig' %}
    {% include 'partials/settings/profile/company_info.twig' %}
    {% include 'partials/settings/profile/membership_info.twig' %}
  </div>
</div>
