<div class="col-md-4 text-center">
  <div class="position-relative d-inline-block">
    <img src="{{ auth().logo ?: '/assets/img/img_not_found.png' }}" class="img-fluid rounded-circle border shadow-sm"
      style="width: 180px; height: 180px; object-fit: cover;">
    <button class="btn btn-sm btn-primary position-absolute bottom-0 end-0">
      <i class="bi bi-camera"></i>
    </button>
  </div>
</div>
